@charset "UTF-8";

#get_frame{
	width:100%;
	text-align:center;
}
#get_subframe{
	width:50%;
	border:1px solid lightgray;
	height : 600px;
	margin-top:30px;
	margin-bottom:30px;
}
#title_div{
	margin-top:30px;
	margin-bottom:30px;
	
}
#title_div input{
	width:80%;
	height:40px;
	font-size : 20px;
}
#content_div{
	margin-top:30px;
	margin-bottom:30px;
}
#content_div textarea{
	width:80%;
	height:300px;
	font-size :20px;
}
#writer_div{
	margin-top:30px;
	margin-bottom:30px;
}
#writer_div input{
	width:80%;
	height:40px;
	font-size : 20px;
}
#button_modify{
webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
width:130px;
height:30px;	
font-size : 17px;
	
}
#button_modify:hover{
background-color: #555555;
  color: white;
}
#button_list{
webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
width:130px;
font-size : 17px;
}
#button_list:hover{
background-color: #555555;
color: white;
height:30px;
}
#reply_frame{
	width:50%;
	text-align:left;
}
.chat{
	list-style:none;
	padding:0px;
}
.header small{
	margin-left:20px;
	float:right;
} 
.reply_list_frame{
	margin-top:10px;	
	margin-bottom:10px;	
}
#reply_page_frame{
	width:50%;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}
#reply_page_frame ul{
		list-style:none;
}
#reply_page_frame ul li{
	display:inline;
	margin:2px;
}
#reply_page_frame ul li a{
	 text-decoration:none;
	 color:black;
}
#reply_page_frame ul li a:hover{
	color:blue;
}	
.panel-hading{
	height:50px;
}
#addReplyBtn{
	float:right;
}